[2020-04-24 01:14] kiwicopple opened #2 "Add pgTAP"
I forgot a useful plugin - https://pgtap.org/

I think if we can sneak this in before many of our users sign up then we can offer a nice interface for them to run test suites on their database. I haven't seen that anywhere else, would be quite cool

[2020-04-24 01:17] kiwicopple opened #3 "Automate our build with Github Actions"
Since we are going to need to build this often, it is a good candidate to automate with Continuous Integration.

Possible steps:

- Do all work on `develop`
- Once the code is ready, merge to `master`
- Any commits to `master` trigger an Action: https://github.com/features/actions

[2020-04-28 06:27] #2 closed

[2020-04-29 02:08] #3 closed

[2020-04-29 10:37] kiwicopple opened #4 "Support for more images"
This issue is for tracking requests/demand for more images. Give a thumbs up if you want an image built.

Please refrain from adding comments unless you are adding an image which isn't already listed.

[2020-04-29 10:37] kiwicopple commented on #4
Docker

[2020-04-29 10:37] kiwicopple commented on #4
GCP

[2020-04-29 10:38] kiwicopple opened #5 "Vote for more plugins"
This issue is for tracking requests/demand for more plugins/extensions. Give a thumbs up if you want an extension added.

Please refrain from adding comments unless you are adding an extension which isn't already listed.

[2020-04-29 11:00] kiwicopple commented on #5
plv8 - https://github.com/plv8/plv8

[2020-04-29 11:01] kiwicopple commented on #5
PL Python enabled by default on `template1` - https://www.postgresql.org/docs/current/plpython.html

[2020-05-04 01:18] kiwicopple opened #7 "Set up max_replication_slots"
@awalias I think you did this right? If yes, I can update the readme with a tick and then push to the App

[2020-05-04 01:19] kiwicopple opened #8 "Set up plv8"
https://github.com/plv8/plv8

- [x] Docker
- [x] Packer

[2020-05-04 01:21] kiwicopple opened #9 "Set up Python3"
https://www.postgresql.org/docs/current/plpython-python23.html

Use python3: plpython3u

- [x] Docker
- [x] Packer

[2020-05-04 01:24] kiwicopple opened #10 "Investigate the use of templates"
![image](https://user-images.githubusercontent.com/10214025/80930860-c2e5f180-8de8-11ea-87d8-4383d1fc6926.png)

Question: can we use this for more than just languages? If so, can we enable some of our plugins without polluting the public schema?

Would love a good investigation into templates, what they do, and how they work. Once we have all the details I think it's worth a blog post too.

[2020-05-04 02:09] dragarcia opened #11 "Set up readonly role"
This role provides the user read only access to the public schema
- [x] Docker
- [x] Packer

## Implementation Notes
- For the `public` schema under the database `postgres`, all roles have been stripped of access aside from the superuser `postgres`.
- A role called `public_readonly` has been created which has readonly access to the `public` schema.
- This is only a role, not a user. Future users c

[2020-05-05 02:54] dragarcia commented on #7
Can confirm that this has already been done on both Docker and Packer. Have updated the README.md accordingly.

[2020-05-05 02:54] #7 closed

[2020-05-05 13:01] #11 closed

[2020-05-05 13:01] #9 closed

[2020-05-06 01:34] kiwicopple commented on #10
Also note that we can add global functions/extensions etc in `pg_catalog`: https://stackoverflow.com/questions/12986368/installing-postgresql-extension-to-all-schemas

However this is NOT recommended. the catalogs are generally readonly. Adding this note here for future reference

[2020-05-07 07:01] dragarcia commented on #8
## Implementation notes
- Uses plv8 version `r3.0alpha`. Creator/ maintainer assures that it should be [production ready](https://github.com/plv8/plv8/issues/390).
- Steps to install plv8 follow steps listed out [here](https://github.com/clkao/docker-postgres-plv8/blob/master/12-2/Dockerfile).
- From trial and error, minimum RAM required to install plv8 would be 1 GB.

[2020-05-07 07:01] #8 closed

[2020-05-08 10:35] dragarcia commented on #10
# template1

- `CREATE DATABASE` works by using an existing database as a baseline or mould.
- This standard database is name *template1* in PostgreSQL.
    - Modifying this template is therefore not advised to avoid any mishaps when creating new databases.
- Adding extensions to this database will propagate to subsequent databases created with `CREATE DATABASE`.
    - This should include both tra

[2020-05-08 11:05] kiwicopple commented on #10
Amazing work Angelico. This is pretty interesting.

I think that we probably should change template1 for any non-modifying extensions like the Procedural Languages (plpythonu, plv8, etc.). This is obviously what AWS do - when you start a new schema, they are already enabled

But we should avoid modifying the template with anything that will pollute new schemas (add tables, functions etc)

Will be

[2020-05-08 11:16] dragarcia opened #13 "Optimising build time"
With the introduction of plv8, build times for new images have gone up to unfavourable timings. Biggest factor thus far is RAM allocated to the image upon building.

# Digital Ocean
- Increasing RAM at build time is not ideal as Digital Ocean plans are tagged to both RAM and disk space.
- Going for a plan with high RAM equates to higher disk space as well.
- We would be unable to scale down the im

[2020-05-08 11:20] dragarcia opened #14 "Set up testing suites"
At the moment, testing the database to ensure that all extensions and settings are working is done manually at the end of each new build. Perhaps I could make use of a combination of psql scripts and [pgTAP](https://pgtap.org/documentation.html) to automate this. This is especially so since we have more features than last time.

[2020-05-08 11:23] dragarcia opened #15 "Further hardening of build"
This is to ensure that we are above and beyond in being compliant with the requirements of the AWS AMI and Digital Ocean marketplace.

## Checklist
- [x] Comply to Digital Ocean's security standards.
- [x] Comply to AWS's security standards.
- [x] Install Fail2ban. [Server][Additional]
- [x] Install unattended-upgrades. [Server][Additional]
- [x] Add in pgAudit [DB][Additional]

[2020-05-08 13:38] dragarcia commented on #10
**I think that we probably should change template1 for any non-modifying extensions like the Procedural Languages (plpythonu, plv8, etc.). This is obviously what AWS do - when you start a new schema, they are already enabled**

Noted on this. We can queue this up for the next version.

---

**But we should avoid modifying the template with anything that will pollute new schemas (add tables, functi

[2020-05-12 14:44] dragarcia commented on #14
Whenever a new image is created, we should be able to:
- [ ] Verify that all the extensions installed are available. [Listing out extensions](https://stackoverflow.com/questions/21799956/using-psql-how-do-i-list-extensions-installed-in-a-database).
- [ ] Make sure that these extensions are working. Naive way is to install them inside a schema and run their specific functions.
- [ ] Make sure that

[2020-05-13 09:55] kiwicopple commented on #10
Let's not remove the option, just as long as we don't modify it ourselves. We want to keep PG as close to "raw" implementation as possible

Cool, no probs on this one. We will solve it with our pre-made code snippets.

I'll close this one. Great investigation and it looks like no more action required. Will be good to turn this into a blog post if you have time (e.g. "What are postgres templates?")

[2020-05-13 09:55] #10 closed

[2020-05-15 09:29] #15 closed

[2020-05-21 14:38] kiwicopple opened #17 "Set up with Layer CI - https://show.layerci.com"
Same as this issue: https://github.com/supabase/realtime/issues/29

I think it makes more sense to start with Postgres only.

1. Log in
2. click "Submit project"
3. Post title: "Postgres by Supabase"

It makes sense to just copy the config from one of the other projects. Click the project, then in the popup switch to the "Configuration" tab, copy it and use it for this.

[2020-05-21 14:50] kiwicopple opened #18 "Update the wiki docs with the new Digital Ocean instructions"

[2020-05-21 18:44] shah commented on #5
PL Java would be great - https://github.com/tada/pljava.

Also, ARG based build which would enable/disable certain plugins might also be helpful.

Great work by the way, love the Dockerfile.

[2020-05-21 20:14] shintaii opened #19 "Digital Ocean Build Does not work"
Hi Just spinned up your Postgres image. It does not work. Commands cannot be executed as root. postgresql is not a known command. when running from /bin directly error is shown that no config is found.

[2020-05-22 01:28] dragarcia commented on #19
Hi! Thanks for the feedback. Could you provide us with the exact steps you have taken for us to reproduce this issue?

[2020-05-22 02:06] kiwicopple commented on #18
https://github.com/supabase/postgres/wiki/Digital-Ocean

[2020-05-22 02:07] dragarcia opened #20 "Adding multiple regions for Digital Ocean build"
This is done by using the parameter `snapshot_regions` over `region` in [Packer](https://www.packer.io/docs/builders/digitalocean/#snapshot_regions).

[2020-05-22 02:27] dragarcia opened #21 "Docker Admin Cleanup"
- [x] Sweep through and remove any signs of port `6543`.
- [x] Update documentation over at Docker Hub.
- [x] Spruce up the wiki page.

[2020-05-22 04:22] #21 closed

[2020-05-22 04:25] ColinChartier commented on #17
Hm, "EXPOSE WEBSITE" only works for HTTP protocols right now, are you trying to expose the actual Postgres port?

[2020-05-22 04:28] #18 closed

[2020-05-22 05:15] kiwicopple commented on #17
good finding this @ColinChartier - yeah I am.

Is there a way to pull this off your store? I can try again with something web-based

[2020-05-22 05:24] ColinChartier commented on #17
Sure, I can remove it for you if you'd like.

The work you've done for the database part is good otherwise!

[2020-05-22 05:24] ColinChartier commented on #17
[code]

[2020-05-22 05:29] kiwicopple commented on #17
Go for it - I'll switch over to another repo

[2020-05-22 05:29] #17 closed

[2020-05-22 07:50] shintaii commented on #19
Sure. I created a droplet on DO. I spinned online. Then i accessed it via my SSH key as root. Trying to execture the commands and nothing happens. It was a 1cpu 1gb Droplet.

[2020-05-22 07:52] awalias commented on #19
Testing now

[2020-05-22 08:44] awalias commented on #19
hi @shintaii the postgres tools are installed under the user `postgres` so you can use `sudo -u postgres psql postgres` to run the command as the `postgres` user

or run `su postgres` to switch into the `postgres` user for the duration of your bash session

let us know if this helps? there's also some more info here: [https://marketplace.digitalocean.com/apps/supabase-postgres#getting-started](htt

[2020-05-22 08:45] awalias commented on #19
closing for now, please re-open if this solution didn't work

[2020-05-22 08:45] #19 closed

[2020-05-22 08:58] awalias opened #22 "Support for data directory on attached volume"
DO wizard gives the option to attach a volume when provisioning the droplet,

I would like to have postgres use this as the default data directory:

- either automatically on startup
- or give instructions in 'getting started' for how to switch the data directory to my attached volume

I imagine the same/similar thing is possible on AWS

[2020-05-22 11:55] dragarcia commented on #20
Updated instructions on how to build the Digital Ocean build in multiple regions will be [here](https://github.com/supabase/postgres/wiki/Digital-Ocean#build).

[2020-05-22 11:55] #20 closed

[2020-05-22 13:03] dragarcia commented on #13
**tl;dr** - We build on top of an existing version of Supabase Postgres (We take the one from the marketplace) instead of from scratch and use [Ansible tags](https://docs.ansible.com/ansible/latest/user_guide/playbooks_tags.html) to run specific tasks instead of everything. A guide on how to build on top can be found [here](https://github.com/supabase/postgres/wiki/Digital-Ocean#build-on-top-of-an

[2020-05-22 13:04] dragarcia commented on #13
Will close this issue once I create the same configuration for AWS (now that we have Supabase Marketplace available in their marketplace).

[2020-05-23 19:56] kenahrens commented on #5
Timescale - https://github.com/timescale/timescaledb

[2020-05-26 04:57] #13 closed

[2020-05-26 09:31] dragarcia commented on #22
## Tested instructions for using an attached volume
https://github.com/supabase/postgres/wiki/Digital-Ocean#attaching-and-using-a-volume

Have sent an update to the DO Marketplace listing to include instructions linking to the wiki page above. Should take a few days.

[2020-05-27 08:51] dragarcia commented on #22
[feature/#22_data_directory_volume](https://github.com/supabase/postgres/tree/feature/%2322_data_directory_volume) contains how a volume can be automatically created and attached to a droplet during droplet creation. A detailed explanation can be found [here](https://github.com/supabase/postgres/blob/feature/%2322_data_directory_volume/do_scripts/README.md).

[2020-06-01 10:20] shah commented on #5
[plpgsql_check](https://github.com/okbob/plpgsql_check) for linting and validating SQL code quality.

[2020-06-01 13:50] kiwicopple commented on #5
@kenahrens we will have to confirm but it looks like Timescale's license prohibits us from installing it on our platform. While we could still bake it into the image for personal use, we will focus first on permissively licensed plugins which we can use ourselves. It's a shame - I personally would love to offer Timescale/timeseries on supabase. If I'm wrong about the license, please let me know!

[2020-06-01 14:16] kenahrens commented on #5
@kiwicopple - Thank you for the clarification. It seems their own code uses 2 different licenses, and the code inside the binary has at least some code with the Timescale License. And that license can't mesh with yours. 😞

Here is a summary of their license:
https://github.com/timescale/timescaledb/blob/master/LICENSE

And you can see the tsl library (which is really what you want) only uses their

[2020-06-01 14:29] kiwicopple commented on #5
Very interesting. Perhaps it's possible then. I'll dig a little deeper or raise an issue in their repo

[2020-07-08 07:49] kiwicopple opened #23 "Remove readonly role"
I have been thinking about the readonly role. There is very little benefit offered by adding this role for the additional surface area introduced.

We already make this simple in Supabase dashboard, so let's remove it from the default database setup.

[2020-07-08 08:38] kiwicopple opened #24 "Add pgjwt extension"
https://github.com/michelp/pgjwt/blob/master/pgjwt--0.1.0.sql

We will be using this extension for Auth.

[2020-07-08 14:41] kiwicopple opened #25 "Add pgsql-http extension"
https://github.com/pramsey/pgsql-http/

We may be doing some http requests for our Auth system, so if we are doing a new release soon, we should sneak this one in too. There are a number of use-cases that we can use this for

[2020-07-09 19:00] felixyz commented on #5
[wal2json](https://github.com/eulerto/wal2json)

[2020-07-10 01:25] kiwicopple opened #26 "Add plpgsql_check extension"
There is significant demand for the plpgsql_check extension:
https://github.com/supabase/postgres/issues/5#issuecomment-636765436

plpgsql_check is for linting and validating SQL code quality. It looks like it is well maintained and is supported on PG12.

[2020-07-11 21:03] bergkvist commented on #4
[Docker app](https://github.com/docker/app) (which is currently part of Docker CLI 19.03.0 as an experimental feature)
[code]

[2020-07-13 08:48] dragarcia opened #27 "Supabase Postgres v0.13.0 Checklist"
Centralised Checklist for upcoming features/ changes to be implemented in the next version
- [x] #23 Remove readonly role
- [x] #24 Add pgjwt extension
- [x] #25 Add pgsql-http extension
- [x] #26 Add plpgsql_check extension
- [x] pljava: significant demand as well from #5 [(comment)](https://github.com/supabase/postgres/issues/5#issuecomment-632276688).
- [x] wal-g (for PITR recovery)
- [ ] ~~aws

[2020-07-24 06:39] #24 closed

[2020-07-24 06:39] #25 closed

[2020-07-24 06:39] #23 closed

[2020-07-24 06:39] #26 closed

[2020-08-03 10:34] #27 closed

[2020-08-10 22:30] Takashiidobe commented on #5
I would like to see pg_cron on here, although I don't know about the licenses.

[2020-08-17 11:32] kiwicopple commented on #5
@Takashiidobe Looks like it's PG license :) https://github.com/citusdata/pg_cron/blob/master/LICENSE

We can add it if there's enough interest

[2020-09-25 11:45] SvenVandenbrande commented on #5
@kiwicopple

The license for Timescale has been changed
https://blog.timescale.com/blog/building-open-source-business-in-cloud-era-v2/

[2020-09-25 12:00] kiwicopple commented on #5
🎉 I saw! I actually reached out to the CEO a while back - I'll try again and see if he will allow it in our platform. There are still some parts of their license which make me nervous so I want to make sure I've got written approval from him. Thanks for the update @SvenVandenbrande

[2020-09-25 12:41] SvenVandenbrande commented on #5
Would be great.

Would love to store some timeseries. 😄 For my domotica system.

[2020-09-30 02:25] kiwicopple commented on #5
Hey @SvenVandenbrande - I got an email back from the founders. Unfortunately their license won't allow it because we're a hosted platform. We would love offer it here, but we use this build within Supabase itself.

I understand their stance - they have their own hosted platform. Perhaps at some stage we can build in some simple timeseries functionality of our own for your domotica system :) (with

[2020-09-30 05:23] SvenVandenbrande commented on #5
@kiwicopple Sounds great. 😄

[2020-11-18 04:15] kiwicopple opened #29 "Add features for DB admins"
# Feature request

Now that our SQL editor is becoming more full featured, I think it will be necessary for DB admins to put restrictions on the database to prevent beginner errors. This is to start a list of possible features that DB admins will require.

- safeupdate: https://github.com/eradman/pg-safeupdate

While we're at it, we can add some other requested extensions and anything planning to

[2020-11-22 20:47] doctorpangloss opened #30 "Set default encoding and collation to UTF-8"
# Feature request

Consider something along the lines of

[code]

from https://www.postgresql.org/docs/9.5/manage-ag-templatedbs.html

## Describe the solution you'd like

This makes some sensible defaults for the `create database` command. For some reason this fixes acute problems on Docker for Windows Desktop hosts along with adding this to many different containerized applications, including pr

[2020-12-15 07:58] #22 closed

[2020-12-15 08:31] dragarcia commented on #30
Just pushed the changes to the branch `develop`. This will eventually be part of the upcoming docker version `supabase/postgres:0.14.0`

---

Not entirely sure but [this](https://superuser.com/a/999151) may have been a plausible reason why.

[2020-12-15 08:31] #30 closed

[2020-12-21 09:10] dragarcia opened #32 "Supabase Postgres v0.14.0 Checklist"
Centralised Checklist for upcoming features/ changes to be implemented in the next version. For any further feature requests, just comment below!
- [x] #28 Add pgcron
- [x] #31 Remove plpython
- [x] #30 Set default encoding and collation to UTF-8 for docker image
- [x] #29 Add pg-safeupdate

Afterwards
- [x] Upload to AWS Marketplace [in progress]
- [ ] Release ARM build to AWS Marketplace [in pro

[2020-12-21 09:11] dragarcia commented on #29
All top requested extensions mentioned in #5 have already been covered by previous versions. Will be closing this. Any additional feature requests for `v0.14.0` can be directed in #32.

[2020-12-21 09:11] #29 closed

[2021-01-19 05:05] psolymos commented on #5
PL/R  would be great! https://github.com/postgres-plr/plr and https://access.crunchydata.com/documentation/plr/8.3.0.18/

[2021-03-06 04:54] inian opened #35 "Upgrade to postgres 13"

[2021-03-11 02:58] awalias opened #36 "reconfigure fail2ban to prevent postgres password bruteforce"
to prevent brute forcing of weak postgres passwords, we already have fairly strict password requirements but this would be a strong addition

[2021-03-17 03:01] acrogenesis opened #37 "SSL enabled by default"
# Feature request

## Is your feature request related to a problem? Please describe.
I'm deploying to a test server on digitalocean and noticed SSL isn't enabled by default.

## Describe the solution you'd like
Perhaps there could be a "setup-wizard" to enable SSL or if it can be done since the beginning better

[2021-03-17 03:16] acrogenesis commented on #37
If you set `ssl = on` on `/etc/postgresql/12/main/postgresql.conf` it works. Are the keys created on deploy or are they the same for every image?

[2021-04-18 08:25] xgenvn opened #39 "Add support for pgRouting"
# Feature request
- Add the pgRouting extension `https://github.com/pgRouting/pgrouting`

# Rationale
- To use in combination with PostGIST

[2021-05-01 01:22] inian commented on #37
Hey @acrogenesis, you will need to specify your own certs and keys for this which is why we don't enable it by default. The default key is snakeoil.pem which is the same for every image. So the recommended way is to have a startup script modify `postgresql.conf` to enable ssl and generate keys and certs.

[2021-05-01 01:22] #37 closed

[2021-05-01 01:26] inian commented on #39
Hey @xgenvn we are tracking extensions to support [here](https://github.com/supabase/supabase/discussions/679). Can you add this extension there? It is easier to track all extensions requested in the same place.

[2021-05-01 01:26] #39 closed

[2021-05-01 01:28] inian opened #40 "Compile postgres with LSE enabled"
http://akorotkov.github.io/blog/2021/04/30/arm/

currently the ansible role just [does apt-get](https://github.com/ANXS/postgresql/blob/e3f22bf58446039f24312583532280c7d9032e96/tasks/install_apt.yml#L17) and the [ubuntu binaries dont have LSE](https://github.com/aws/aws-graviton-getting-started#postgres) turned on..we might have to migrate away from the role to enable this which is a shame

[2021-05-18 15:55] inian opened #43 "Change default logging level"
It will be useful to have more detailed logging

Explore the following parameters
- log_statement
- log_min_messages
- log_connections

[2021-05-18 15:57] awalias commented on #43
for project pausing I think `log_connections` would be enough for me if it works as expected

also we probably want to enable log rotation from `postgresql.conf`

[2021-05-18 16:08] inian commented on #43
In general for debugging issues and exposing them in the dashboard, it will be useful to have a higher logging level. Was debugging one or two issues with @steve-chavez where we were wishing for greater visibility into what was happening.

[2021-05-19 02:12] steve-chavez commented on #43
Yes, I remember we wanted to see the prepared statement parameters of some SELECT queries(`SELECT.. WHERE id = $param`) that failed with weird errors(somehow the parameters where not being passed fully). We managed to debug this with Kong logs though - they showed the parameters on the request query string.

For that we would require a `log_statement=all`. Not sure if it's totally worth it because

[2021-06-02 05:01] kiwicopple opened #45 "RFC: new extensions"
Possible new extensions:

- `is_jsonb_valid`: https://github.com/supabase/supabase/discussions/679#discussioncomment-348469
- `IP4R`: https://github.com/supabase/supabase/discussions/679#discussioncomment-566220
- https://github.com/postgrespro/rum RUM provided a enhanced GIN Index for common search function
- https://github.com/amutu/zhparser zhparser is a PostgreSQL extension for full-text searc

[2021-06-03 04:58] kiwicopple opened #46 "Additional AMI "bundles""
## Context

We'd like to build a few different bundles for: a) the AWS marketplace and b) internal usage.

## Bundles

We would like to produce AMI bundles

- `Postgres` -> this one we already have
- `Postgres` + `PgBouncer`
- `Postgres` + `PostgREST`
- `Postgres` + `PgBouncer` + `PostgREST`

## Marketplaces

The top priority is to produce these images for the AWS marketplace. We can target other

[2021-06-03 05:06] dragarcia commented on #46
Will add to https://github.com/supabase/postgres/pull/44

[2021-06-03 05:20] dragarcia commented on #46
Btw, do we already have names in mind to easily distinguish one from the others? At the top of my head, all I could think off are:

|   | Supabase Postgres  | PgBouncer  | PostgRest  |
|---|:---:|:---:|:---:|
| Supabase Postgres |  ✔️   | ❌    | ❌   |
| Supabase Postgres: PgBouncer Bundle  |   ✔️ |  ✔️  | ❌    |
| Supabase Postgres: PostgRest Bundle |   ✔️ |  ❌  |  ✔️   |
| Supabase Postgres: Comp

[2021-06-03 19:29] bhvngt commented on #45
Do you have any plans to include [pglogical](https://www.2ndquadrant.com/en/resources/pglogical/). From whatever little I know, it looks like it may bring in some more flexibility to supabase realtime in terms of filtering logical replication etc.

[2021-06-06 16:42] dragarcia commented on #45
Hi @bhvngt! 👋

No plans at the moment but it could always be a possibility down the road. For now, could you help me add it to the list [here](https://github.com/supabase/supabase/discussions/679)? We keep track and consolidate all of our extension requests on this discussion page.

Thanks!

[2021-06-07 05:39] kiwicopple commented on #46
I think those names are good - just make sure it's `PostgREST` rather than `PostgRest` to fit their branding.

[2021-06-10 13:09] dragarcia opened #47 "plv8 v3.0.0 fails to build for ARM instances"
Using these steps:
1. Ensure PostgreSQL is installed beforehand.
2. `apt install build-essential ca-certificates curl git-core gpp cpp pkg-config apt-transport-https cmake libc++-dev libc++abi-dev libc++1 libglib2.0-dev libtinfo5 libc++abi1 ninja-build python`
3. `git clone https://github.com/plv8/plv8.git`
4. `cd plv8 && git checkout v3.0.0`
5. `make`
6. `make install`

Step 6) `make` eventually

[2021-06-10 13:09] dragarcia commented on #47
@burggraf

[2021-06-16 02:39] inian opened #48 "Clean up wal-g installation"
RIght now `/root/go` directory occupies 1.1 GB which reduces the spaces we have for postgres. After we make the wal-g binary, we should clean this up

[2021-06-16 02:49] dragarcia commented on #48
will add to #44

[2021-06-28 06:33] inian opened #49 "Install supautils in the image instead of in the worker"
[Supautils](https://github.com/supabase/supautils) needs to be part of the image, so that we can track which version of supautils is installed in which postgres image

[2021-06-28 06:40] inian commented on #47
Should we open an issue in the plv8 repo Angelico?

[2021-06-28 06:53] dragarcia opened #50 "Install postgis_sfcgal extension"
Currently missing in current image in #44. When building PostGIS, additional steps are required to enable this extension. Refer to point 2. [here](https://postgis.net/2015/10/25/postgis_sfcgal_extension/).

[2021-06-28 07:20] dragarcia commented on #47
got it, just created on [here](https://github.com/plv8/plv8/issues/444).

[2021-06-29 01:12] steve-chavez commented on #49
Just a note here. Supautils latest version(v1.1.0) should be configured like this:

[code]

If needed, these configs can be reloaded at runtime.

[code]

[2021-06-29 01:15] dragarcia commented on #49
Got it! One question: With regards to the [documentation](https://github.com/supabase/supautils#usage), Just to confirm for `shared_preload_libraries`, are we adding just `supautils`? What about `check_role_membership`?

[2021-06-29 01:18] dragarcia commented on #49
Also, should this extension be part of public images as well?

[2021-06-29 01:25] inian commented on #49
I don't think this should be part of the public images

[2021-06-29 01:35] steve-chavez commented on #49
Ah, yes, forgot about that part. Now it should be like:

[code]

`check_role_membership` was only used for the POC phase, it's no longer needed.

[2021-07-09 03:57] dragarcia opened #56 "Optimise Docker image"
At the moment, we are building the Docker image differently from the cloud images via a [Dockerfile](https://github.com/supabase/postgres/blob/develop/docker/Dockerfile). This is starting to be a hassle to update separately every time. Also, the compressed size of the latest image is [723.42 MB ](https://hub.docker.com/r/supabase/postgres/tags?page=1&ordering=last_updated), which is getting out of

[2021-07-10 16:15] dragarcia commented on #56
Was able to achieve this and produce a working docker image. This definitely simplifies and streamlines the Docker image building process with the rest. [Wiki](https://github.com/supabase/postgres/wiki/Docker) has been updated.

---

The size of the new image stands at 1.8 GB uncompressed, but now at 675.92 MB compressed. Actually increased in size for the uncompressed version but decreased for th

[2021-07-12 04:14] inian opened #58 "Dont overcommit memory"
https://sosna.de/posts/pgaas-memory-overcommit/
https://www.postgresql.org/docs/current/kernel-resources.html#LINUX-MEMORY-OVERCOMMIT

By preventing this, only the expensive query is killed, instead of entire postgres process being shut down

[2021-07-14 04:51] dragarcia commented on #58
Been testing newer builds with `vm.overcommit_memory` set to the value `2`. The problem arises so far wherein smaller instances (`t4g.micro`) immediately fail to perform any process upon boot. The common error thrown is:
[code]

Analysis is that `CommitLimit` should be more than `Commited_AS` to guarantee that the above error does not appear. Both values can be found in `/proc/meminfo`. This has n

[2021-07-14 05:11] inian commented on #58
Shall we only enable this the m6g instances in the worker then? I am not keen on adding swap for t4gs cos of the lower IOPS limits and having an active swap will lead us to hitting those limits faster.

[2021-07-14 05:20] dragarcia commented on #58
I can transfer this issue over and revert the changes made to the build.

[2021-07-26 07:54] #35 closed

[2021-07-26 07:54] #40 closed

[2021-07-26 07:54] #49 closed

[2021-07-26 07:57] #36 closed

[2021-07-26 07:57] #48 closed

[2021-07-26 07:58] #50 closed

[2021-07-26 07:59] #45 closed

[2021-07-26 08:00] #32 closed

[2021-07-26 08:00] #56 closed

[2021-08-03 11:50] dragarcia opened #65 "Set default password encryption to `scram-sha-256`"
[reference guide](https://blog.crunchydata.com/blog/how-to-upgrade-postgresql-passwords-to-scram)

### todo
- [x] Change from `md5` to `scram-sha-256` on this [line](https://github.com/supabase/postgres/blob/develop/ansible/files/postgresql_config/postgresql.conf.j2#L95) of `postgresql.conf`.
- [x] Edit all `md5` on this [file](https://github.com/supabase/postgres/blob/develop/ansible/files/postgr

[2021-08-16 12:37] dragarcia opened #67 "Upgrade PgBouncer to 1.16.0"
[PgBouncer 1.16.0](https://www.pgbouncer.org/changelog.html#pgbouncer-116x) was released on 9 August 2021.

[2021-08-16 16:25] dragarcia opened #68 "Upgrade Postgres to 13.4"
[Postgres 13.4](https://www.postgresql.org/about/news/postgresql-134-128-1113-1018-9623-and-14-beta-3-released-2277/) was released on 12 August 2021

[2021-08-17 03:12] dragarcia opened #69 "Clean up build dependencies"
Could be an easy win in reducing bloat in both our cloud and docker images. Also, some when updated could cause clashes in configurations (in the case of `libpq-dev` clashing with pg_config).

[2021-08-18 04:08] inian opened #71 "Install pg_plan_filter"
We have a reasonable threshold on the query cost

[2021-08-18 05:28] dragarcia commented on #71
Just to check, are you referring to this [extension](https://github.com/pgexperts/pg_plan_filter)?

[2021-08-18 05:30] darora opened #72 "CI/CD pipeline for Postgres AMIs"
Automatically build and deploy to staging env and run a smoke test suite against it.

[2021-08-18 05:59] inian commented on #71
Yup!

[2021-08-21 02:32] SpareShade opened #73 "Supbase postgres ssl root certificate relies on legacy Common Name field"
# Bug report
The SSL root cert provided on by supabase.co (https://app.supabase.io/project/<id>/settings/database) relies on legacy Common Name field which is deprecated in the RFC 2818
## Describe the bug
using golang 1.6.n SSL connection to supabase DB fails
A clear and concise description of what the bug is.
Please have a look at
rancher/rke2/issues/775

ps. I wasn't sure where exactly to repor

[2021-08-26 13:43] darora commented on #73
Thanks for the report @SpareShade , we'll try to have this fixed soon. I'm guessing it'll be fixed for newer projects; an in-place migration for existing ones will likely be quite hard.

[2021-09-22 21:30] vHanda opened #82 "Use Dockerfile to build the image"
Hi. Usually most Docker images are built using a Dockerfile. It would be nice if either -

* The `supabase/postgres` image could also be built via a Dockerfile, thereby simplifying the build process

or

* The readme could be updated to educate users like me about the reason for choosing ansible over a Dockerfile.

[2021-10-06 11:59] soedirgo opened #86 "pg_net extension availability within docker image"
### Discussed in https://github.com/supabase/supabase/discussions/3435

<div type='discussions-op-text'>

<sup>Originally posted by **bhvngt** October  6, 2021</sup>
Do you have plans to add `pg_net` extension as part of supabase postgres docker image? It does not seem to be available based on the extensions listed on the [supabase/postgres](https://hub.docker.com/r/supabase/postgres) mage page.

[2021-10-07 01:12] dragarcia opened #87 "Upgrade supautils to v1.1.1"
- [x] Bump version from 1.1.0 to 1.1.1
- [x] Move supautils from `shared_preload_libraries` to `session_preload_libraries`

[2021-10-07 04:52] darora opened #89 "Remove build dependencies from all images"
I was able to remove ~1.4GB worth of build dependencies from one of our AMIs

[2021-10-21 07:05] #87 closed, assigned to nobody

[2021-10-21 07:05] #71 closed, assigned to nobody

[2021-11-18 10:35] dragarcia commented on #68
Closing this as we are now working on upgrading straight to Postgres 14.0 via #98

[2021-11-18 10:35] #68 closed, assigned to dragarcia

[2021-11-18 10:37] dragarcia commented on #69
Duplicate - #89

[2021-11-18 10:37] #69 closed, assigned to dragarcia

[2021-11-19 09:07] sixers opened #104 "ARM Docker image"
# Feature request
Build & publish ARM64 version of the Docker image.

## Is your feature request related to a problem? Please describe.
AMD64 images have terrible performance on M1 Macs (even M1 Pro/M1 Max)

## Describe the solution you'd like
It would be cool to build & publish linux/arm64 version of the Docker image to Docker Hub, it would help a lot with local development on M1 Macs.

## Descri

[2021-12-02 07:53] dragarcia opened #109 "CI/CD pipeline for Docker images"
Looks like we can just let it have it build via GA regardless of the build time. This is because [GA for public repositories is FOC](https://docs.github.com/en/actions/learn-github-actions/usage-limits-billing-and-administration#about-billing-for-github-actions). Thanks for the head's up @soedirgo.

[2021-12-03 03:54] darora commented on #72
AMIs built by #101

[2021-12-03 03:54] #72 closed, assigned to nobody

[2021-12-06 05:26] #109 closed, assigned to dragarcia

[2021-12-16 20:20] Isaiah-Hamilton opened #114 "Chore: update Github description to supabase.com"
# Chore

## Describe the chore

update Github description  from [supabase.io](https://supabase.com) to [supabase.com](https://supabase.com)

<img width="1392" alt="Screen Shot 2021-12-16 at 3 19 32 PM" src="https://user-images.githubusercontent.com/70828596/146443489-003d7c60-8563-4e35-8a88-0aa6d4b2f074.png">

[2021-12-17 15:07] dazzag24 opened #115 "Mixup between ARM64 and AMD64 in /ansible/tasks/setup-postgrest.yml"
Is it just me or are these URLs the wrong way round in [setup-postgrest.yml](https://github.com/supabase/postgres/blob/develop/ansible/tasks/setup-postgrest.yml)

[code]

[2021-12-18 04:59] inian commented on #115
That does seem to be a bug, do you want to send a PR to fix this?

[2021-12-18 08:34] dazzag24 commented on #115
OK will do

On Sat, 18 Dec 2021, 04:59 Inian, ***@***.***> wrote:

[2021-12-18 10:17] dazzag24 commented on #115
Please see https://github.com/supabase/postgres/pull/116

On Sat, 18 Dec 2021 at 08:34, Darren Gallagher ***@***.***> wrote:

[2021-12-20 08:02] #115 closed, assigned to nobody

[2022-01-04 08:32] chipilov opened #121 "Upgrade pgTAP extension to 1.2.0"
# Feature request

## Is your feature request related to a problem? Please describe.
Supabase allows enabling the pgTAP extension, however, the version of pgTAP that is currently available in Supabase is 1.1.0, which has some issues related to PostgreSQL 13 and 14.

According to pgTAP's release notes, these issues have been fixed in the latest version of pgTAP, which is 1.2.0 (release notes: https

[2022-01-04 09:11] inian commented on #114
Updated @Isaiah-Hamilton

[2022-01-04 09:11] #114 closed, assigned to nobody

[2022-01-04 14:34] kiwicopple commented on #121
nice one @chipilov - transferring this over to the postgres repo

[2022-01-06 02:35] soedirgo commented on #104
Resolved in #98

[2022-01-06 02:35] #104 closed, assigned to nobody

[2022-01-06 02:43] soedirgo commented on #86
Resolved in #94

[2022-01-06 02:43] #86 closed, assigned to nobody

[2022-01-14 09:05] inian opened #124 "Install and enable the safeupdate extension by default"
https://pgxn.org/dist/safeupdate/

[2022-01-14 09:41] dragarcia commented on #124
Looks to be already installed via [here](https://github.com/supabase/postgres/blob/develop/ansible/tasks/postgres-extensions/09-pg-safeupdate.yml) and at the [latest version](https://github.com/supabase/postgres/blob/develop/ansible/vars.yml#L64) (1.4)

[2022-01-14 09:51] inian commented on #124
Ah weird I didnt see this when doing `select * from pg_extension`. Let's enable it for default for new projects?

[2022-01-14 10:33] dragarcia commented on #124
yea, looks to be active as soon as it's placed in `shared_preload_libraries`. Here's a [PR](https://github.com/supabase/postgres/pull/125)

[2022-01-14 18:46] steve-chavez commented on #124
https://github.com/supabase/postgres/pull/125 is too harsh imo, some tools have migrations that do full table DELETEs and this change would make those fail. Also loading it by using `shared_preload_libraries` will require a db restart in case any user wants to remove it.

How about isolating the change?

[code]

[2022-01-17 02:42] dragarcia commented on #124
You're right, having it activated for everything might cause trouble down the road. Shall we just target PostgREST for now internally with Steve's query above?

[2022-01-17 07:34] inian commented on #124
Yup, that seems like a good tradeoff to make!

[2022-01-18 07:02] dragarcia commented on #124
Alright, put up a [PR](https://github.com/supabase/postgres/pull/128) to reverse the changes. Will put up [another internal PR](https://github.com/supabase/infrastructure/pull/3700) shortly to apply `safeupdate` to PostgREST queries.

[2022-01-21 05:34] #124 closed, assigned to nobody

[2022-01-30 23:46] lopezjurip opened #135 "Compile PostGIS with protobuf-c support"
# Feature request

## Is your feature request related to a problem? Please describe.

I'm trying to create and endpoint as an RPC function that returns a TileJSON response and looks like PostgREST supports binary responses: https://postgrest.org/en/stable/api.html?highlight=bytea#binary-output.

PostGIS has some functions that enables doing so, these are: `ST_AsMVT` and `ST_AsMVTGeom`. PostGIS req

[2022-01-31 01:47] dragarcia commented on #135
Hi @lopezjurip 👋

This should be feasible. I'll move this over to the supabase/postgres repository to get it better tracked.

[2022-02-15 05:13] bhvngt opened #143 "Incorrect linux/arm64 image"
# Bug report
## Describe the bug
When I pull `linux/arm64` version of [supabase/postgres](https://hub.docker.com/layers/supabase/postgres/14.1.0/images/sha256-22d7f41a55cb7410d156ae357ce36d8f17d9b62d919e6ab479db9ba2a291c60c?context=explore) and run it as a container, it gives me `x86_64` as platform on executing `uname -a`.

I executed this commands on my `Macbook M1 Pro`.

## To Reproduce

Steps

[2022-03-18 17:00] burggraf opened #153 "Consider using Citus extension for columnar (compressed) data"
I'm investigating the use of the [Citus PostgreSQL Extension](https://github.com/citusdata/citus) to bring additional functionality to PostgreSQL.  Mainly I'm interested in columnar storage, which, in my initial test, compresses data by around 32x.

All the features made available by Citus include:

- **Distributed tables** are sharded across a cluster of PostgreSQL nodes to combine their CPU, mem

[2022-03-18 17:05] burggraf commented on #153
**Installation:**
Citus provides a docker container install for testing, and an easy apt-get installation for Ubuntu, however there's no current package for ARM available, so for my Supabase instance I had to compile it from source.

After installation, Postgres needed a **restart**, then the extension was easily loaded with `CREATE EXTENSION citus;`.  The **columnar storage** features work great.

[2022-03-18 23:33] RedstoneWizard08 opened #154 "No such file or directory error"
# Bug report

## Describe the bug

When I try to run this image (when self-hosting SupaBase), it gives me this error:
[code]

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Open your terminal.
2. Make sure you have Docker installed.
3. Run this command:
[code]
4. See error

## Expected behavior

It runs as it should with all the extensions and e

[2022-03-25 21:17] GaryAustin1 opened #169 "error "graphql_public" does not exists with cli supabase start"
# Bug report

A customer using the CLI with a new install is getting this:

"I'm trying to execute. supabase start but i got this error  Error: Error starting database: ERROR:  schema "graphql_public" does not exist"

No info yet, but putting this out here in case the code added here for pg_graphql is already being installed by the CLI and there might be an issue with the pg_graphql extension.   W

[2022-03-27 12:38] darora opened #172 "Support multiple pgbouncer instances for higher traffic scenarios"

[2022-03-27 12:40] #67 closed, assigned to dragarcia

[2022-03-27 20:16] darora opened #173 "Docker image seems broken past adminapi driven optimizations"
[code]

[2022-03-28 14:47] darora opened #176 "Upgrade to pgbouncer 1.17"

[2022-03-31 09:53] #173 closed, assigned to nobody

[2022-04-01 19:57] GaryAustin1 commented on #169
@olirice I was reporting it as a user on discord hit it and I knew you were in the process of rolling it out but not announced yet... Figured something got "released" early.
I pointed them here, but they did not comment.  I'll see if I can find the post again, but I'm sure by now they got past it.

[2022-04-01 19:58] #169 closed

[2022-04-01 21:10] simlevesque commented on #169
@GaryAustin1 I'm actually having this same issue. I can't start supabase after linking with the remote db.

[2022-04-03 12:29] olirice commented on #169
@soedirgo ^

do you have any ideas how that could happen 23.10?

[2022-04-04 19:57] soedirgo commented on #169
Probably not specific to 23.10, rather the same problem you mentioned re: supabase/postgres image being out of sync. Should be fixed with https://github.com/supabase/cli/pull/232, coming out in the next release.

[2022-04-04 21:52] simlevesque commented on #169
I actually had this bug before 23.10 so that makes sense. I should have said that previously.

[2022-04-04 21:59] simlevesque commented on #169
@olirice I'm afraid that the problem is still present.

[code]

I even tried to reset all my local files, I still get the same issue. It pulled the new supabase/postgresql.

[2022-04-04 22:37] olirice commented on #169
@simlevesque yes, please send your project ref and I'll take a look

[2022-04-04 23:42] soedirgo commented on #169
I tried replicating this and don't get the `graphql_public.graphql` DDL above in `remote_commit.sql`.

One thing you can try to fix this is to empty `remote_commit.sql` and put `CREATE EXTENSION IF NOT EXISTS pg_graphql SCHEMA extensions;` in (undocumented) `supabase/extension.sql`. We're working on fixing Postgres permissions so that you can do `CREATE EXTENSION` in a migration, which you current

[2022-04-05 22:31] sarumont commented on #143
Looks like #167 fixed this...any chance of getting a new build pushed soonish? :)

[2022-04-07 03:37] princemaple commented on #169
Same issue.

If I comment out the 2 `graphql_public` clauses, I still get this:
`function extensions.moddatetime() does not exist`

An issue with all the extensions?

My project was created mostly in the browser. I only just started using the cli now and did `remote commit` the first time.

[2022-04-07 06:16] soedirgo commented on #169
Yes, an issue with all extensions unfortunately. In your case you might want to do `CREATE EXTENSION IF NOT EXISTS moddatetime SCHEMA extensions;` as well.

[2022-04-07 06:32] princemaple commented on #169
Thanks for the confirmation and the workaround. It's a pretty amazing product nonetheless.

[2022-04-07 18:22] simlevesque commented on #169
@olirice

jwycethvnuypxtlvclfs

Sorry for the late reply.

[2022-04-07 18:55] olirice commented on #169
@simlevesque did you see these steps https://github.com/supabase/postgres/issues/169#issuecomment-1088125830?

if that doesn't help, could you please try to create a minimal reproducible example that leads to your error so we can reproduce it locally to debug?

Something along the lines of:
- create a new supabase project
- in a new directory run `supabase init`
- next run ...
- then create a migr

[2022-04-07 19:14] simlevesque commented on #169
@olirice that project ref I sent you is exactly that. It's a brand new project with absolutely nothing else in it. Do you want me to try again with a new/specific cli version ?

[2022-04-08 07:57] madsbuch commented on #169
I am experiencing this on supabase CLI version 0.24.2 (as freshly setup yesterday).

[2022-04-08 13:47] olirice commented on #169
@simlevesque @madsbuch

Here are the steps I used to attempt to recreate the error you're seeing

1. Created a new supabase project
2. Retrieved the project_ref and db_connection_string
3. Set up a new repo locally for manage the project
[code]
4. Connected to the local database (# Default URL:
postgresql://postgres:postgres@localhost:54322/postgres) and created a new todo table
[code]
5. Created

[2022-04-08 20:37] olirice opened #186 "Upgrade wal2json to 53b548a29ebd6119323b6eb2f6013d7c5fe807ec"
There are 2 bugfixes in wal2json that have not been put into a release yet (releases occur 1-2 times per year)

- https://github.com/eulerto/wal2json/issues/232
- https://github.com/eulerto/wal2json/issues/233

both are fixed in 53b548a29ebd6119323b6eb2f6013d7c5fe807ec

the image currently installs wal2json from a release, so it will need some tweaking to install from source but there are instruct

[2022-04-08 22:10] sarumont commented on #143
For anyone who needs this now, I have built a version of the image, available under `sarumont/supabase:v14`. Note that `pg_graphql` failed to build for me, so I removed it from the image.

[2022-04-18 20:19] olirice commented on #186
~~hey @dragarcia, would you be able to update the ansible install stuff to install~~ wal2json via

[code]

instead of from release 2.4? It contains 3 commits we need since the last wal2json release to resolve these issues for realtime:

https://github.com/supabase/supabase/issues/5685
https://github.com/supabase/walrus/issues/31

cc @w3b6x9

[2022-04-20 02:35] #186 closed, assigned to dragarcia

[2022-04-24 23:47] lukaspili opened #198 "Enable ICU provider"
One popular use case is to create a case insensitive collation:
[code]

Current result is an error stating:
[code]

[2022-04-25 12:07] kiwicopple commented on #198
thanks @lukaspili - moving this over to the postgres repo

[2022-04-27 20:49] jackkeller opened #200 "Digital Ocean Build Not Working Currently"
Trying the marketplace creation on [digitalocean](https://marketplace.digitalocean.com/apps/supabase-postgres) and there is no postgres user, nor is postgres even installed.

**Tried 3 Attempts:**
- Ubuntu 18.04 w/ [Marketplace](https://marketplace.digitalocean.com/apps/supabase-postgres)
- Ubuntu 18.04 and adding **Supabase Realtime** from the Marketplace tab
- Ubuntu 20.04 and adding **Supabase

[2022-05-04 08:08] althaf004 opened #211 "Extension python3u"
Hi,

We have all our existing functions done with plpython3u. We are forced to use Keycloak for the authentication, for which we had to use [keycloak sdk ](https://github.com/marcospereirampj/python-keycloak) . Is there anyway we can start migrating our functions to supabase with plpython3u extension.

If anyone has a quick idea on fix, please help.

[2022-05-11 14:22] darora opened #203 "pgbouncer connection speed regression"
I suspect this was due to something done towards the fastboot changes in #141 . Initial connection to pgbouncer takes a substantially longer period, and has errors in the logs:

[code]

vs a connection to an older, non-fastboot instance:

[code]

Deleting the IPv6 entry for localhost from /etc/hosts resolves the issue. I'm not sure why pgbouncer started trying to use ipv6 now, though.

[2022-05-11 14:59] Lakshmipathi commented on #203
I'm quite sure, IPv6 was disabled on fastboot-ami.
[code]
Do you have proj-ref for older ami? I want to check whether it has IPv6 enabled and /etc/hosts entries.

Reg your solution to delete /etc/hosts IPv6 entry: Should  we just create `/etc/hosts` with only `127.0.0.1	localhost` entry by modifying init script? or need to re-create the ami for this change? what is the recommended approach?

[2022-05-11 15:00] Lakshmipathi commented on #203
related: https://fritshoogland.wordpress.com/2021/04/09/pgbouncer-and-slow-server-pool-increase/

[2022-05-11 22:18] darora commented on #203
That's basically it-the older AMIs don't disable IPv6, so having that entry in /etc/hosts doesn't present a problem. We should definitely fix the AMI; in the interim, if you want to get a patch out sooner, using init-scripts is fine.

We'll also want to fix this in existing fastboot-based projects.

[2022-05-11 23:00] Lakshmipathi commented on #203
okay, I think IPv6 got disabled because it created issue with some package (may be `vector` - I can't re-collect exact the reason, atm). Need to verify that before enabling IPv6.

Lets use init-scripts for a quick patch for new launches and then fix the ami image after verifying IPv6 doesn't create new issues.

[2022-05-12 00:39] magick93 opened #204 "Request PostgreSQL Anonymizer extension"
Please add the Anonymizer extension.

https://pgxn.org/dist/postgresql_anonymizer/0.12.0/

License - https://gitlab.com/dalibo/postgresql_anonymizer/-/blob/master/LICENSE.md

https://github.com/supabase/supabase/discussions/6789

[2022-05-12 19:54] hachete01 commented on #200
I had the exact same issue just earlier today. I noticed that after selecting Supbase postgres from the marketplace page (to create the droplet), in the dialog to create the droplet no image is selected. I searched for the image in the marketplace from this page, and only Supabase Realtime appears.
![Screen Shot 2022-05-12 at 3 51 50 PM](https://user-images.githubusercontent.com/100227926/16815734

[2022-05-13 04:23] magick93 opened #206 "pg_timetable: Advanced scheduling for PostgreSQL"
# Feature request

pg-timetable - see https://pg-timetable.readthedocs.io/en/master/README.html#main-features

https://github.com/cybertec-postgresql/pg_timetable/blob/master/LICENSE

[2022-05-13 17:50] steve-chavez commented on #206
@magick93 We already provide [pg_cron](https://github.com/citusdata/pg_cron), can you elaborate on why you want to use pg_timetable?

[2022-05-13 20:48] jackkeller commented on #200
I feel like I took that step as well, I will give it another go tomorrow to see if that's the step I'm missing.

[2022-05-13 21:36] magick93 commented on #206
Hi @steve-chavez

Just to clarify my position - my motivation is to improve Supabase. IMO Supabase is awesome. There are some really useful extensions for postgres, and may of which are already being offered by Supabase. In this case I'm suggesting pg_timetable as a more feature rich alternative to pg_cron. Both have their place and value.

The features that pg_timetable offers, quoted from their

[2022-05-13 21:46] hachete01 commented on #200
To clarify, my point was to confirm the existence of the issue you raised, by adding that the image for Supabase Postgres is not currently selectable to be installed via one-click on a droplet, therefore new installations this way are not possible (it can be installed in a droplet with Docker). Supabase Realtime I believe is a different product than Supabase Postgres, one that is intended to compl

[2022-05-17 02:50] mj-sakellaropoulos opened #208 "Postgres log files use all disk space"
## Describe the bug

The postgresql log files are are occupying a large amount of disk space on self-hosted deployments of the supabase postgres image using https://github.com/supabase/supabase/blob/master/docker/docker-compose.yml

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Deploy https://github.com/supabase/supabase/blob/master/docker/dock

[2022-05-17 13:35] CoenNengerman commented on #200
I am experiencing the same issue. I was eager to try Supabase, but unfortunately this doesn't seem to work. I can use the Docker, but the docker doesn't have WAL-G

[2022-05-17 21:55] lediur commented on #208
I've noticed that there's a lot of log output from WAL logical decoding (many many lines per second) on a fresh standalone database.

Could we somehow change the verbosity of this log output? I think doing so would dramatically reduce the amount of logging and help save disk space / flash write cycles.

[code]

[2022-05-23 07:18] kiwicopple commented on #211
Hey @althaf004 - moving this one to the `postgres` repo.

I believe that plpython is an untrusted extension, so we won't be able to provide it in our repo - will let one of the maintainers confirm this

[2022-06-01 20:38] olirice opened #216 "Push the latest image pg 14 image to dockerhub"
Please push the latest image to dockerhub so we can update the cli's docker image and keep it in sync with the hosted platform

Ref:
https://github.com/supabase/pg_graphql/issues/160

[2022-06-06 21:17] david-plugge commented on #216
And please add the arm64 arch :)

[2022-06-08 05:26] w3b6x9 commented on #216
done: https://hub.docker.com/layers/postgres/supabase/postgres/14.1.0.34/images/sha256-cc7f5b281f65561d47ba85dd41b1703f81d20550390d63fe4290ab1901db7d35?context=explore

[2022-06-08 05:26] #216 closed, assigned to nobody

[2022-06-08 05:28] w3b6x9 commented on #216
@david-plugge feel free to create another issue to address that.

[2022-06-08 13:05] david-plugge opened #226 "Push latest arm64 image to dockerhub"
Please push the latest image with arm64 architecture to dockerhub to support the newest features on selfhosted platforms.
The latest arm image is on version 14.1.0.15.

https://github.com/supabase/supabase/issues/4887

My current solution:

https://github.com/supabase/supabase/issues/2954#issuecomment-1183391492

[2022-06-12 08:38] xjasonlyu commented on #198
Hi, any progress on this enhancement?

[2022-06-14 10:44] dragarcia commented on #200
Hello all

Apologies for the delayed reply. The Digital Ocean droplet image has not been updated for a while now as we have shifted our focus to Docker as the recommended option for self-hosting Supabase. One of the reasons is that this image, unlike the Docker offering, does not have all the features Supabase has to offer. The droplet image only offers the database component and none of the other

[2022-06-14 10:44] dragarcia commented on #200
@CoenNengerman with regards to this, thank you for the feedback. We'll look into getting WAL-G working for the Docker set up as well.

[2022-06-15 19:03] steve-chavez commented on #198
Seems postgres wasn't compiled with ICU support, it needs `./configure --with-icu`.

More details at: https://www.2ndquadrant.com/en/blog/icu-support-postgresql-10/

[2022-06-17 06:18] k0shk0sh opened #229 "Function not found"
Starting from yesterday the 17th of June, some of my RPC functions are not working anymore and I receive the following error:

[code]

I was wondering if there is any internal change happened from yesterday to today that could cause this?

P.S: other functions are working fine.

function:
[code]

[2022-06-17 06:38] k0shk0sh commented on #229
hmm, it works from console but not from flutter anymore.

[2022-06-17 22:05] darora commented on #229
Hi there-if this is related to a project hosted by Supabase, please create a support ticket via your dashboard.

Based on the fact that other functions are being executed fine, my first guess would be to verify if the permissions on the function in question have been updated recently.

[2022-06-17 22:05] #229 closed, assigned to nobody

[2022-06-18 03:09] steve-chavez commented on #229
Could you please retry your rpc requests? This was likely related to https://github.com/supabase/supabase/issues/7293, which was recently fixed.

[2022-06-18 03:10] steve-chavez commented on #229
Also, please retry your rpc requests. This could have been related to https://github.com/supabase/supabase/issues/7293, which was recently fixed.

[2022-06-18 08:23] k0shk0sh commented on #229
@steve-chavez it most definitely was it. it works now 🤷🏼

[2022-07-07 23:05] darora opened #233 "Consider including mysql_fdw"
https://github.com/EnterpriseDB/mysql_fdw

[2022-07-08 13:57] Huskehhh commented on #208
Also getting this.

[code]

[2022-07-12 00:48] boredom101 opened #235 "XML functions unsupported"
# Bug report

## Describe the bug

When I try to use an XML function, it states that the XML feature is unsupported

## To Reproduce

Steps to reproduce the behavior, please provide code snippets or a repository:

1. Run an SQL snippet like: `SELECT xmlelement(name foo);`
2. See error

## Expected behavior

I expected that the XML function would return expected result.

## Screenshots

![screensho

[2022-07-16 06:36] iammarkps opened #240 "Docker build docs is outdated"
# Improve documentation

## Link

https://github.com/supabase/postgres/wiki/Docker

## Describe the problem

I think that ansible is not working anymore, it should suggest building with docker instead of using ansible to build the docker images.

## Describe the improvement

Use docker build instead

[2022-07-21 15:08] kav opened #245 "Add h3 extension to the extensions list"
# Feature request

We'd love to use h3 for some simple distance calculations using H3 https://h3geo.org/ . For a primer on how this differs from other Geospatial libraries see the introductory blog post here: https://eng.uber.com/h3/

## Is your feature request related to a problem? Please describe.

## Describe the solution you'd like

I'd love https://github.com/bytesandbrains/h3-pg added to the

[2022-07-24 04:40] boredom101 commented on #235
Hello, I don't want to be a bother, but it seems the only change needed for this bug is to change this line to add `--with-libxml`: https://github.com/supabase/postgres/blob/develop/ansible/tasks/setup-postgres.yml#L71

[2022-07-26 15:24] pessimo commented on #135
any update on this?  or any thought on this change?  sounds like a good change

[2022-07-26 20:06] steve-chavez commented on #235
@boredom101 Yes, that should be enough. I suggest to make a PR.

[2022-07-29 02:06] pessimo commented on #135
I tried to build an image and found that 2 files need to be changed.

the first is docker.vars.json, change the pg version to "14-bullseye", I'm not sure if this one need change, but as the official readme file says, supabase uses ubuntu 20, there might be some difference between Debian-based image and ubuntu based.

the second is ansible/tasks/postgres-extensions/01-postgis.yml

besides the chang

[2022-08-04 02:51] darora commented on #208
Resovled by #243

[2022-08-04 02:51] #208 closed, assigned to nobody

[2022-08-05 16:09] msevestre commented on #203
Hi everyone.
Experimenting with supabase and pgbouncer today. The connection using pgbouncer and port 6543 is significantly slower. Is there anything we need to update in supabase to solve the issue? What is the recommended approach?

[2022-08-10 13:35] vejja commented on #47
Hi @dragarcia
Have you been able to build plv8 v3.1.2 ?
If yes it would be super exciting to upgrade the plv8 version that is being packaged into the docker image.
This would bump the v8 engine version from v7.4 to v9.7, adding many useful modern JS features (e.g. private class methods, optional chaining, nullish coalescing, Array.includes, Intl API, ...)

[2022-08-11 19:49] dsyrstad opened #487 "Initial Docker Postgres schema has potential security issues"
# Bug report

## Describe the bug

The initial postgres initialization files for self-hosted docker installations located in https://github.com/supabase/supabase/tree/master/docker/volumes/db/init allows wide access to the `public` schema. For example, https://github.com/supabase/supabase/blob/master/docker/volumes/db/init/00-initial-schema.sql doesn't lock down the public schema and allows the `a

[2022-08-12 15:09] boredom101 commented on #235
The fix was released, and it works.

[2022-08-12 15:09] #235 closed, assigned to nobody

[2022-08-16 17:28] elemen3 commented on #153
How is it going @burggraf ?

[2022-08-18 15:30] BarnabyShearer opened #274 "ERROR: relation "pgsodium.key" does not exist"
With the Docker image `14.1.0.34` and before `CREATE EXTENSION IF NOT EXISTS pgsodium WITH SCHEMA extensions;` worked as expected.

Using `14.1.0.55` it gives `line 8: /etc/postgresql-custom/pgsodium_root.key: No such file or directory invalid secret key`

Using `14.1.0.61` it gives `ERROR:  relation "pgsodium.key" does not exist`

[2022-08-19 03:17] michelp commented on #274
There was a bug in the latest pgsodium release where there was a missing `@extschema@` in one place and was accidentally hardwired to `pgsodium` so that has caused this error because you are trying to install pgsodium into a schema not named `pgsodium`.

Due to pgsodium's special nature as a security sensitive component, and because other heterogeneous components must refer to it and know where it

[2022-08-19 09:10] BarnabyShearer commented on #274
Thank you, moving it to the `pgsodium` schema did indeed work.

[2022-08-19 09:10] #274 closed, assigned to nobody

[2022-08-21 12:42] Coronon opened #276 "Permission denied error causes server to fail"
# Bug report

## Describe the bug

Starting with [`14.1.0.55`](https://hub.docker.com/layers/postgres/supabase/postgres/14.1.0.55/images/sha256-84f966c91ad180ed215d53b019bb8f13ce8635d8e81dbf165ee8011abcc00c84?context=explore) the server fails with `Permission denied for /usr/lib/postgresql/14/bin/pgsodium_getkey_urandom.sh`

## To Reproduce

1. Try to start `supabase/postgres:14.1.0.55` or newer
2

[2022-08-21 22:11] samwoolertonFosters opened #277 "`function auth.jwt() does not exist` for local RLS"
# Bug report

## Describe the bug

I defined RLS policies locally in the Supabase Studio UI, generated a migration file with `npm run db-diff <migration_name>`, and migrated in production with `supabase db push`.
After restarting the local DB with `supabase stop` and `supabase start`, it won't restart, instead throwing an error that `function auth.jwt() does not exist`. I can start the DB again by

[2022-08-31 01:39] burmecia commented on #245
The h3 extension has been posted on https://github.com/supabase/supabase/discussions/679#discussioncomment-2602385, can you upvote it?

[2022-09-07 14:16] madsbuch opened #291 "Confiuration not applied before docker-entrypoint-initdb.d scripts are applied"
# Bug report
Per the postgres docker image it should be possible to place initial sql files in the `docker-entrypoint-initdb.d` folder for them to execute when postgres starts. When this is done in the supabase/postgres image default users are non-existing on the execution time wy this function does not work properly.

## To Reproduce

1. Start a development instance of the normal supabase infrast

[2022-09-07 16:01] madsbuch commented on #291
TL;DR: Apply appropriate initialization. If the goal is to have it working like Supabase, take inspiration from here: https://github.com/supabase/supabase/tree/master/docker/volumes/db/init

I am letting myself out

[2022-09-07 16:01] #291 closed, assigned to nobody

[2022-09-08 02:56] kylerummens opened #292 "Unable to create index"
# Bug report

## Describe the bug
I am trying to create an index on a table in my database. I am getting the following error message:
`could not extend file "base/12974/1228183": No space left on device`

query: `create index form_version_index on public.recipient_forms (form_version)`

[2022-09-08 03:24] darora commented on #292
@kylerummens - per the error message, your PG instance has run out of disk space. If this is on the hosted platform, please open a support ticket through the dashboard and we can investigate why it wasn't automatically handled.

[2022-09-08 03:24] #292 closed, assigned to nobody

[2022-09-10 19:28] bienalon commented on #135
Adding my vote to incorporate the recommended change.

[2022-09-26 05:34] Lakshmipathi commented on #203
Hello @msevestre , We resolved issues related to IPV6 few months ago. Are you still facing this issue?

[2022-09-26 05:39] Lakshmipathi commented on #176
@darora, We are still using `1.16.1`, should we update and give it a try on staging env? Do you have any concerns with `1.17`?

[2022-09-26 05:40] darora commented on #176
Go for it, no concerns

[2022-09-26 05:41] Lakshmipathi commented on #65
I think this already resolved. I can see `scram-sha-256` on pg_hba.conf with these entries. @dragarcia can be marked as resolved?

[2022-09-26 05:46] #65 closed, assigned to dragarcia

[2022-09-26 06:01] Lakshmipathi commented on #121
Hi @chipilov ,

This PR 3c2f7442 resolved this issue. I'll go ahead and close this. Let us know if you face any issues. thanks!

[2022-09-26 06:01] #121 closed, assigned to nobody

[2022-09-26 06:26] dragarcia commented on #46
Will be closing this as we will discontinue our public AMI builds in favor of our Docker offerings as the recommended option for self-hosting Supabase. ([ref](https://github.com/supabase/postgres/issues/200#issuecomment-1155018270))

For more information on the overview of our self-hosted setup, you can refer to our [documentation here](https://supabase.com/docs/guides/hosting/overview). You can r

[2022-09-26 06:26] #46 closed

[2022-09-26 06:29] dragarcia commented on #14
First pass of testing suites done via https://github.com/supabase/postgres/pull/295.

[2022-09-26 06:29] #14 closed

[2022-09-26 06:55] dragarcia commented on #211
Hi @althaf004

Apologies for the delayed response. We would just like to confirm what has been mentioned above: the `plpyton3u` extension is still considered to be an [untrusted extension](https://www.postgresql.org/docs/current/plpython.html) and therefore won't be part of our list of extensions anytime soon. As mentioned [here](https://github.com/supabase/supabase/discussions/2239#discussioncomm

[2022-09-26 06:55] #211 closed, assigned to nobody

[2022-09-26 07:47] dragarcia commented on #233
* Extension is now currently kept track through https://github.com/supabase/supabase/discussions/679#discussioncomment-3035600
* Any further updates with regards to the extension will be sent through the discussion thread.
* We'll be closing this issue to maintain a single source for updates.

[2022-09-26 07:47] #233 closed, assigned to nobody

[2022-09-26 07:50] dragarcia commented on #245
Hi @kav

* With the extension being kept track through https://github.com/supabase/supabase/discussions/679#discussioncomment-2602385, any further updates with regards to it will be sent through the discussion thread instead.
* We'll be closing this issue to maintain a single source for updates.
* Feel free to use the discussion thread if you have any further questions with regards to the H3 exten

[2022-09-26 07:50] #245 closed, assigned to nobody

[2022-09-26 08:12] dragarcia commented on #204
Hi @magick93

* Thanks for adding it to the Postgres Extensions discussion thread via https://github.com/supabase/supabase/discussions/679#discussioncomment-3322325.
* Any further updates with regards to the extension will be sent through the discussion thread.
* We'll be closing this issue to maintain a single source for any updates and for gauging the overall interest of the community.
* Feel fr

[2022-09-26 08:12] #204 closed, assigned to nobody

[2022-09-26 08:28] dragarcia commented on #153
Heya @burggraf

* I've created a new thread on https://github.com/supabase/supabase/discussions/679
    * https://github.com/supabase/supabase/discussions/679#discussioncomment-3731774
* Let's continue the discussion there to have a single source for updates as well as a consolidated way of gauging the interest of the community.

[2022-09-26 08:28] #153 closed, assigned to nobody

[2022-09-26 08:41] dragarcia commented on #206
Hi @magick93

* Do upvote its entry on the Postgres Extensions if you haven't: https://github.com/supabase/supabase/discussions/679#discussioncomment-2961251
* Let's continue any further discussion there as well to have a single source to gauge the interest of the community.
* We'll push further updates through the discussion thread as well.

Thanks!

[2022-09-26 08:41] #206 closed, assigned to nobody

[2022-09-26 08:54] dragarcia commented on #276
Hi @Coronon

Apologies for the delayed response, would you mind sharing the exact steps you've taken to allow us to attempt to replicate the bug?

Thanks!

[2022-09-26 09:33] Coronon commented on #276
Hi @dragarcia,
there were not a lot of steps involved:
I wanted to share a db between multiple self hosted instances. Because im most familiar with docker-compose, I simply wrote a bare bones docker-compose file:

[code]

Where I simply put a more recent image version as mentioned in my initial report. The ‘custom’ config simply changes the logging a little but is based on the original config in t

[2022-09-28 15:44] alex-ketch opened #307 "Re-enable Vault extension"
# Chore

## Describe the chore

I'd like to see the Supabase [Vault extension](https://github.com/supabase/vault) included in the image again.

https://github.com/supabase/postgres/blob/92de0b6b2daf7961d2ced9a5f6b4f82b8ae5390c/ansible/tasks/setup-extensions.yml#L67-L68

## Additional context

I don't have the context for why, but PR #278 temporarily [disabled the Vault extension](https://github.co

[2022-09-29 11:01] dragarcia commented on #276
That's odd. Just attempted to replicate with the docker-compose file you provided and was able to have a running container both for `supabase/postgres:14.1.0.34` and the latest one which is `supabase/postgres:14.1.0.66`. Would you mind sharing the modifications you've made to `postgresql.conf`?

[2022-09-29 11:10] dragarcia commented on #307
Hi @alex-ketch

We're still in the midst of performing and finalizing usability and security testing for the Supabase Vault extension. Rest assured, we'll keep you posted once it has been reenabled on the images.

[2022-09-29 14:55] alex-ketch commented on #307
Thanks for the background, saves me from tinkering and trying to make a PR :)
And no worries, really appreciate all the work you do!

[2022-10-04 18:27] gperdomor opened #318 "add pg_idkit extension"
# Feature request

## Additional context

Based on supabase blog [post](https://supabase.com/blog/choosing-a-postgres-primary-key#benchmarking-id-generation-with-uuid-ossp-and-pg_idkit), would be nice having this extension in the docker image

[2022-10-05 03:07] jimkoen commented on #240
I second this. Giving a little bit more info on how to use the playbooks would be much appreciated.
For example, my current attempt at building the container fails at the `[postgis - build SFCGAL]` task:

![Bildschirmfoto 2022-10-05 um 05 05 10](https://user-images.githubusercontent.com/46608440/193972262-a7aefe99-ecbb-4d6c-9c87-75ab80862c03.png)

Forgive me for posting screenshots, but the actual

[2022-10-05 04:29] jimkoen opened #319 "Playbook execution of the ansible/playbook-docker.yml playbook is unsuccessful"
# Bug report

## Describe the bug

I am trying to successfully run the [playbook-docker.yml](https://github.com/supabase/postgres/blob/develop/ansible/playbook-docker.yml) playbook [in accordance with the steps on your wiki page.](https://github.com/supabase/postgres/wiki/Docker)

The playbook fails to properly execute however, this happens on multiple tasks:

## 1.) No package matching 'python' i

[2022-10-05 11:29] jimkoen commented on #319
I solved the issue, see my comment https://github.com/supabase/postgres/issues/240#issuecomment-1268318601

[2022-10-05 11:29] #319 closed, assigned to nobody

[2022-10-05 11:37] jimkoen commented on #240
To clarify what the previous poster meant by "use docker build instead":

Any ordinary person would assume that [following the wiki entry](https://github.com/supabase/postgres/wiki/Docker), you'd want to run the playbooks in the `/ansible/` directory on your local machine, or on some linux machine and it'll somehow prepare the build environment and trigger a docker build for obtaining a usable doc

[2022-10-05 11:49] darora commented on #240
Hey folks - thanks for pointing out that this was outdated. I've updated the wiki, and will likely migrate the content from there to be contained within the repository soon.

[2022-10-05 11:49] #240 closed, assigned to nobody

[2022-10-08 03:27] jimkoen opened #322 "Refactoring: Separate long running parts of playbook-docker.yml into separate RUN statements inside dockerfile"
# Chore

## Describe the chore

I'm currently bisecting supabase/postgres in order to trace [this bug](https://github.com/supabase/supabase/issues/9378) that has started appearing somwhere arround ~v*.55 of the image.

Attempting to build older commits has, until now, lead to several build errors during image builds on Mac OSX (even though I'm using docker, which is super weird, but what gives). T

[2022-10-08 08:12] exotfboy opened #323 "Update PostGIS to 3.2.0+"
Hi:

As postgis document said:

Any plan to update the postgis plugin?

[2022-10-21 09:57] soedirgo commented on #226
We now have `supabase/postgres` images for  linux/arm64

[2022-10-21 09:57] #226 closed, assigned to Lakshmipathi

[2022-10-21 10:10] soedirgo commented on #143
This is fixed as of 14.1.0.66. Thanks for the patience!

[2022-10-21 10:10] #143 closed, assigned to nobody

[2022-10-21 10:22] soedirgo opened #336 "Backport Docker builds for PG13"
# Feature request

## Is your feature request related to a problem? Please describe.

Right now we only publish PG14 images. Once we start supporting PG15, we'll need to support >1 major versions anyway - might as well do it for PG13 as well since we still support it.

## Describe the solution you'd like

Build Docker images for PG13

## Describe alternatives you've considered

n/a

## Additional

[2022-10-28 16:15] rohfosho commented on #135
Any updates on this front?

[2022-11-10 07:53] darora opened #367 "pgbouncer does not work with non-default dbs"
If you create a non-default (i.e. in addition to the default "postgres") db, pgbouncer does not support it.
The current configuration relies on a user + function being present in the target db, but they're only set up for the postgres db.